<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Справка</title>
    <link th:href="@{style.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<th:block th:replace="~{navbar::navbar}"></th:block>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <h2>Назначение</h2>
            <p>Сервис предназначен для определения периодичности воздействия по допустимому уровню безотказности. Сервис
                поддерживает работу только с нормальным законом распределения. Для вычисления оптимальной периодичности
                требуется задать массив наработок до отказов (<i>выборку</i>) и допустимый уровень безотказности (<i>риск</i>).
                Дополнительно пользователю предлагается задать уровень значимости, учитываемый при расчёте критерия
                Пирсона при проверке распределения на нормальность</p>
            <h2>Инструкция по использованию</h2>
            <p>На главной странице требуется указать файл с наработками на отказ (позиция 1), выбрать из выпадающего
                списка величину риска (позиция 2), а так же задать требуемый уровень значимости α (для поиска значения
                критерия Пирсона) в поле 3. Все поля являются обязательными для заполнения.</p>
            <img th:src="@{/img/form.jpg}" alt="Общий вид формы для указания входных данных" width="80%">
            <h3>Правила формирования файла</h3>
            <p>Приложение поддерживает текстовые файлы в следующих форматах:</p>
            <ul>
                <li>Однострочные файлы. (Возможные разделители: символ пробела, точка с запятой, запятая)</li>
                <li>Многострочные файлы. (Разделитель: перенос строки)</li>
            </ul>
            <p>Правила для формирования файлов:</p>
            <ul>
                <li>Файл должен иметь расширение .txt или .csv</li>
                <li>Поддерживаются только .csv-файлы с одним столбцом</li>
                <li>В качестве разделителя десятичной части используется точка (.)</li>
                <li>При использовании многострочного файла последняя строка не должна быть пустой</li>
                <li>Кодировка файла - UTF-8</li>
            </ul>
            <h4>Примеры корректных файлов</h4>
            <p>Пример csv файла: <a th:href="@{/files/example.csv}" download="">скачать</a></p>
            <p>Пример однострочного .txt файла (разделитель: точка с запятой): <a th:href="@{/files/inline-example.txt}"
                                                                                  download="">скачать</a></p>
            <p>Пример однострочного .txt файла (разделитель: символ пробела): <a th:href="@{/files/inline-example2.txt}"
                                                                                 download="">скачать</a></p>
            <p>Пример однострочного .txt файла (разделитель: запятая): <a th:href="@{/files/inline-example3.txt}"
                                                                          download="">скачать</a></p>
            <p>Пример многострочного .txt файла: <a th:href="@{/files/multiline-example.txt}" download="">скачать</a>
            </p>
            <h3>Страница результата</h3>
            <p>После вычислений пользователю выдаётся результат.</p>
            <p>Пользователю отображается значение оптимальной периодичности воздействия, статистическая обработка данных
                (с разбиением входных данных на интервалы)
                <img th:src="@{/img/data_stat.jpg}" width="80%"
                     alt="Оптимальная периодичность воздействия и статистическая обработка данных"></p>
            <p>Гистограмма плотности распределения отказов
                <img th:src="@{/img/histogram.jpg}" width="80%" alt="Гистограмма плотности распределения отказов"></p>
            <p>Теоретические значения параметров выборки.
                <img th:src="@{/img/theory_stat.jpg}" width="80%" alt="Теоретические значения параметров выборки"></p>
            <p>График плотности вероятности отказов, на котором отмечена оптимальная периодичность воздействия
                <img th:src="@{/img/graph.jpg}" width="80%" alt="График плотности вероятности отказов"></p>
            <p>Если после проверки с помощью критерия Пирсона выяснилось, что выборка не подчиняется нормальному закону, то пользователю выдаётся сообщение об этом:
                <img th:src="@{/img/non_notmal_distrib.jpg}" width="80%" alt="График плотности вероятности отказов">
            </p>
        </div>
    </div>
</div>
</body>
</html>